$site-width: 1200px;

/* Fonts */
$title-font: blacksad;
$subtitle-font: comic-sans;
$tooltip-font: 'Playfair Display', serif;;
$input-font: "Courier New", Courier, monospace;

/* Coolors palette: https://coolors.co/000000-272d2d-b4b4b4-f5bd1f-ffffff */
$color1: #000000ff;
$color2: #272d2dff;
$color3: #b4b4b4ff;
$color4: #f5bd1fff;
$color5: #ffffffff;
